<div id="fakeLoader"></div>
<% if @current_user.role == "admin" %>
  <%= render partial: 'admin' %>
<% elsif @current_user.role == "chef" %>
    <%= render partial: 'chef' %>
<% else %>
  <%= render partial: 'customer' %>
<% end %>
