  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Chowdy Marketplace</h4>
  </div>
  <div class="modal-body">
    <b><p>What is Chowdy Marketplace?</p></b>
    <p>Chowdy Marketplace is our newest way to simplify your healthy eating (and get you to try some amazing food made in Toronto)!</p>
    <p>We've partnered with a select list of local small-batch food producers who make things that we think will go well with your Chowdy meals, ranging from juice cleanse to artisanal kimchi.</p>
    <br>
    <b><p>How does it work?</p></b>
    <p>Marketplace is only available for our delivery customers at the moment. When you place the order on the marketplace, we will bundle up and deliver your order with your regular Chowdy meal delivery.</p>

    <p>The cut off for weekly order (and order modification is Thursday every week), so make sure you get those order in by then!</p>

    <p>Marketplace purchases are <b>one-time only</b>, so you are only charged for what you order.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-md btn-default m-t-sm" data-dismiss="modal">Got it!</button>
  </div>