<head>
    <meta HTTP-EQUIV="REFRESH" content="5; url=<%= user_profile_url %>">
</head>
<div class="row" style="height: 100px; "></div>
<div class="row">
    <div class="col-sm-12 m-t-xl" style="text-align: center;">
        <h3 style="text-align: center;">Your request has been received. You will no longer receive marketing emails from us in the future.</h3>
        <p style="text-align: center;">You will now be redirected to your profile</p>
    </div>

</div>
