<head>
    <meta HTTP-EQUIV="REFRESH" content="5; url=<%= user_profile_url %>">
</head>
<div class="row" style="height: 100px; "></div>
<div class="row">
    <div class="col-sm-12 m-t-xl" style="text-align: center;">
        <p style="text-align: center;">Your restart request has been submitted and your subscription will resume on <b><%= @adjusted_restart_date.strftime("%A %b. %e, %Y") %></b>. Thank you for being a Chowdy member!</p><br>
        <p style="text-align: center;">You will now be redirected to your profile</p>
    </div>

</div>
