<head>
    <meta HTTP-EQUIV="REFRESH" content="5; url=<%= user_profile_url %>">
</head>
<div class="row" style="height: 100px; "></div>
<div class="row">
    <div class="col-sm-12 m-t-xl" style="text-align: center;">
        <h2 style="text-align: center;">Your restart request has been submitted and your subscription will resume on <%= @adjusted_restart_date.strftime("%A %b. %e, %Y") %>. Thank you for being a Chowdy member!</h2>
        <h3 style="text-align: center;">You will now be redirected to your profile</h3>
    </div>

</div>
