<html>
<head>
    
</head>
<body>
    <p>Hi <%= @sender_name %>,</p>
    <p>We have received your gift card purchase for <%= @recipient_name %>, but the purchase could not be completed due to identical sender and recipient email addresses. We have refunded your gift card purchase. Please try again with a different recipient email address.
    </p>

    <p>- the Chowdy team</p>
</body>

</html>
