<html>
<head>
    
</head>
<body>
    <div class="row">
        <div class="col-sm-12">
            <p>Hey <%= @customer.name.split(/\s/)[0].capitalize %>!</p>
                <p>We've noticed you took a break from Chowdy meal subscription. Hope you enjoyed the service!</p> 
            <% if @discount %>
                <p>We'd like to <b>offer you $<%= (@discount.to_f/100).round(2).to_s %> credit</b> towards your meals if you'd like to resume your subscription for next week. You can resume by clicking the link below.</p>
                <p>We're always looking to continue improving the service, so we'd love it if you left some feedback on the meals using the web app.</p>
            <% else %>
                <p>Let us know what we could be doing better with Chowdy to make this meal subscription a regular part of your routine. We're always looking to find ways to make Chowdy work better for you as an affordable meal service.</p>

                <p>If you're simply taking some time off, feel free to resume your subscription any time by clicking on the link below.</p>
            <% end %>            
                <p><a href="<%= short_url(one_link_restart_url(@customer.stripe_customer_id,@reminder_log.id)) %>">Click this link to resume your subscription</a></p>
                
            <% if @discount %>
                <p>Thanks and we hope you enjoy the meals!</p>
            <% end %>
            <p>- the Chowdy team</p>
        </div>
    </div>
    <br>
    <div class="row">
        <p style="font-size:8px">You received this email because you subscribed to Chowdy meal subscription. <a href="<%= short_url(add_to_do_not_email_url(@customer.stripe_customer_id,@reminder_log.id)) %>">Click here to stop receiving future email updates</a></p>
    </div>
</body>

</html>