<html>
<head>
    
</head>
<body>
    <div class="row">
        <div class="col-sm-12">
            <p>Hey <%= @customer.name.split(/\s/)[0].capitalize %>!</p>
                <p>We've noticed you took a break from Chowdy meal subscription. We missed you!</p> 
            <% if @discount %>
                <p>We'd like to <b>offer you $<%= (@discount.to_f/100).round(2).to_s %> credit</b> towards your meals if you'd like to resume your subscription for next week. You can resume by clicking the link below.</p>
                <p>We're always looking to continue improving the service, so we'd love it if you left some feedback on the meals using the web app.</p>
            <% else %>
                <p>Our menu has changed quite a bit since you last ordered (and we've made a bunch of other changes). We'd love for you to come back and check them out. We're always looking to continue improving the service, any comments you have are welcome.</p>
            <% end %>            
                <p><a href="<%= short_url(one_link_restart_url(@customer.stripe_customer_id,@reminder_log.id)) %>">Click this link to resume your subscription</a></p>

            <p>Thanks and we hope you enjoy the meals!</p>
            <p>- the Chowdy team</p>
        </div>
    </div>
    <br>
    <div class="row">
        <p style="font-size:8px">You received this email because you subscribed to Chowdy meal subscription. <a href="<%= short_url(add_to_do_not_email_url(@customer.stripe_customer_id,@reminder_log.id)) %>">Click here to stop receiving future email updates</a></p>
    </div>
</body>

</html>